.container {
    background-color: #063970;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 400px;
    border-radius: 5px;
    border-style: solid;
    border-color: #eee;
    border-width: 3.5px;
    font-family: Verdana;
    font-size: 20px;
    padding: 15px 0px 15px 20px;
    margin-bottom: 50px;
    outline: none;
    background: #ffffe6;
}

.list-container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #ffffe6;
}

.list {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    border: 3px solid #063970;
    overflow-y: auto;
}

.list-item {
    padding: 10px;
    cursor: pointer;
    overflow-x: hidden;
    text-align: left;

    &:hover {
        background-color: #e6f7ff;
    }
}

.item-name {
    color: #063970;
    margin: 5px;
    font-family: Verdana;
    font-size: 15px;
    word-wrap: break-word;
}

.button {
    font-family: Verdana;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: #5c85d6;
    float: right;

    &:hover {
        background-color: #ffffb3;
    }
}
