.container {
   background-color: #063970;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.search-input {
   width: 400px;
   border-radius: 5px;
   border-style: solid;
   border-color: #eee;
   border-width: 3.5px;
   font-family: Verdana;
   font-size: 20px;
   padding: 15px 0px 15px 20px;
   margin: 15px;
   outline: none;
   background: #ffffe6;
}

.list-container {
   display: grid;
   grid-gap: 2em;
   grid-template-columns: 1fr 1fr;
   padding: 20px;
   margin: 25px;
   border: 1px solid #aaa;
   border-radius: 4px;
   background: #ffffe6;
}
